body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

h2 {
    text-align: left;
    color: #555;
    border-bottom: 2px solid #ddd;
    margin-top: 20px;
    margin-bottom: 10px;
}

input[type="text"], select, input[type="datetime-local"], input[type="number"], button {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(100% - 20px);
}

button {
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

li {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 0.5fr 1fr 0.5fr;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    align-items: center;
}

.subtask {
    margin-left: 20px;
    background-color: #e9ecef;
}

.status, .type {
    text-align: center;
}

.subtask-btn, .delete-btn, .status-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-btn {
    background: red;
}

#taskLists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#taskLists > div {
    flex: 1 1 48%;
    margin: 10px 0;
    background: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#taskLists > div ul {
    max-height: 200px;
    overflow-y: auto;
}
